  
.services .card{
    border: 0;
}
.services .card-header{
    border: 0;
    background-color: transparent;


}

.services .card:hover{
    background-image: linear-gradient(75deg,tomato , yellow);
    color: #fff !important;
    transition:  .1s  all ease-in-out !important;
}